*, *::before, *::after {
  box-sizing: border-box;
}

.header--container {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  align-items: center;
  height: 7rem;


  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 0 2rem;
}

.header--container > h3 {
  justify-self: flex-end;
}

/* MEME.JS */

.meme--container {
  display: grid;
  justify-content: center;
  gap: 1rem;
  padding: 5rem;
}

.meme--input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.meme--input > * {
  width: 25rem;
  height: 2.5rem;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid lightgray;
  padding: 1.3rem;
}

.meme--input > input:focus {
  outline: none;
  border: 2px solid lightgray;
}

.meme--first_input:focus {
  border:none;
}

.meme--submit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  font-size: 1.5rem;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  padding: 1.3rem;

  /* Selecting an element that is part of grid-row and modifying the width of element : */
  grid-row: 2;
  grid-column: 1 / span 2;
  width: 100%;
}

.meme--submit_button > img {
  height: 2rem;
  width: 2rem;
}

.meme > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid black;
  border-radius: 5px;
}

.meme {
  position: relative;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}